.titulopaginamusic {
    margin-top: 25px;
    text-align: center;
    font-size: 25px;
}

.titulosencillos1 {
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
}

.titulosencillos2 {
    @extend .titulosencillos1;
}

.titulosencillos3 {
    @extend .titulosencillos1;
}

.bg-tarjetas{
    height: 19vh;
    margin: 0px;
}    




